<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halform.mybatis.mybatisdemo.StudentMapper">
    <select id="getStudent" resultType="com.halform.mybatis.mybatisdemo.Student">
        select * from student where
            sno = #{sno}
    </select>
</mapper>